body{
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    
}

img {
    display: block;
}


.header {
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #e7e9fc;
    display: flex;
    margin:0 auto;
}

.header-nav {
display: flex; 
align-items: center;
}

.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
   
}
.header-sub-logo {
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.7;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    color: #2e2f42;
}

.header-logo:hover {
    color:#404BBF;
}

.header-logo:focus {
    color:#404BBF;
}
.header-menu{
list-style: none;
gap: 40px;
display:flex;


}

.header-menu-item {
    font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        padding: 24px 0;
        
        
        
}

.header-menu-item:hover {
    color: #404BBF;
}

.header-menu-item:focus {
    color: #404BBF;
}

.header-adress {
    list-style: none;
    display: flex;
    gap: 40px;
    
}

.adress {
    font-style: normal;
}

.header-contacts {
    font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        list-style: none;
        
}

.header-contacts:hover {
    color: #404BBF;
}

.header-contacts:focus {
    color: #404BBF;
}

.first-section{
background-color: #2e2f42;
padding: 188px 0;
}

.main-header {
    font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
        max-width: 496px;
        margin: 0 auto;
}

.main-button{
    font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
        cursor: pointer;
        background: #4D5AE5;
        display: block;
        min-width: 169px;
        height: 56px;
        border: none;
        border-radius: 4px;

    }

    .main-button:hover {
    background-color: #404BBF;
    }

    .main-button:focus {
        background-color: #404BBF;
    }

    .second-section{
        background-color: #F4F4FD;
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .visually-hidden {
        position: absolute;
            width: 1px;
            height: 1px;
            margin: -1px;
            border: 0;
            padding: 0;
            white-space: nowrap;
            clip-path: inset(100%);
            clip: rect(0 0 0 0);
            overflow: hidden;
    }

    .feature-list {
        display: flex;
        gap: 24px;
        padding-left: 0;
        margin: 0;
        list-style: none;
    }

    .feature-item {
        width: calc((100% - 72px) / 4);
        
    }
  
   .feature-subtitle{
    font-family: "Roboto",
            sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        text-transform: capitalize;
        background-color: #FFFFFF;
        margin-bottom: 8px;
}
    .feature-title{
    font-family: "Roboto",
        sans-serif;
       font-weight: 400;
       font-size: 16px;
       line-height: 1.5;
       letter-spacing: 0.02em;
       color: #434455;
}

.team {
    background-color: #F4F4FD;
    padding: 120px 0;
}

.team-title{
    font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-transform: capitalize;
        margin-bottom: 72px;
        visually-hidden
}

.team-list {
    display: flex;
    gap: 24px;
    padding-left: 0;
    margin: 0;
    list-style: none;
}

.team-item {
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px; 
    width: calc((100% - 72px) / 4);
    
}

.employee-position {
    padding: 32px 0;
}

.team-name {
font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}

.team-position {
    font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
        text-align: center;
}

.portfolio {
    background-color: #F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-title {

font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.portfolio-list {
    background-color: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    padding-left: 0;
    margin: 0;
    list-style: none;
    

}

.portfolio-item {
    width: calc((100% - 48px) / 3);
}

.app-name {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-subtitle {
    font-weight: 500;
    font-size:20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px
}

.portfolio-feature-title {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02;
    color: #434455;
    letter-spacing: 0.02em
}

.footer {
    background-color:#2e2f42;
    padding: 100px 0;
    
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-bottom: 16px;
    display: inline-block;
}

.footer-sub-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
}

.footer-paragraph {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    
}